.hover-bg-size {
  transition: background-size 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 26%;
}

.hover-bg-size:hover {
  background-size: 110%;
  background-position: 30% 26%;
}
